header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
    background: transparent;
    box-sizing: border-box;


    nav{
        margin-top: 10px;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;

            li{
                margin-right: 4rem;

                a{
                    color: #FFFFFF;
                    font-size: 1.3rem;
                    text-decoration: none;

                    &:hover
                    {
                        color: yellow;
                        text-decoration: none;  
                    }
                }
            }
        }
    }
}


//implement using JS
.header-active{
    background: #333;
    height: 6rem;
    box-shadow: .2rem 0 .5rem #000;
    nav{
        ul{
            margin: 0;
            li{
                a{
                    color: white;
                }
            }
        }
    }
}



@media (max-width:480px){
    
    header{
      nav{
          ul{
            li{
               a{
                display:none;
               }
            }
          }
      }
    }
}