.hero{
    background: linear-gradient(0deg, rgba(0,0,0,.6), rgba(0,0,0,.6));
    position: relative;
    height: 100vh;
    overflow-y: hidden;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23170121' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%232e0242' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23450463' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%235c0584' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%237306A5' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden;
    
    .row{
        margin-left: 20px;
    }

    h1{
        text-align: left;
        font-size: 3rem;
        font-family: 'lemonada', sans-serif;
        font-weight: bolder;
        text-shadow: .1rem .1rem .3rem #333;
        color: yellow;
        margin-top: 100px;
        padding: 10px;
        box-sizing: border-box;
        text-transform: capitalize;
    }

    h2{
        text-align: left;
        font-size: 2rem;
        font-family: 'lemonada', sans-serif;
        font-weight: bolder;
        text-shadow: .1rem .1rem .3rem #333;
        color: #fff;    
        
    }

    p{
        text-align: left;
        font-size: 1rem;
        color: #ccc;
    }

    img-container{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 1;

        img{
            position: absolute;
            height: 100vh;
            width: 100%;
            object-fit: cover;
        }
    }
}


@media (max-width:480px){
    
    .hero{
      h1{
          font-size: 2rem;
          text-align: left;
          margin: 15px auto;
      }
      
      h2{
        font-size: 1.5rem;
        text-align: left;
      }
    }
}